.menu {
  position: absolute;
  background: var(--listbox-bg);
  display: flex;
  flex-direction: column;
  z-index: var(--dropdown-z-index);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}
