.app_dark_theme {
  --bg-color: #090942;
  --inverted-bg-color: #d9d9da;

  --primary-color: #06ad06;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0708cc;
  --inverted-secondary-color: #0033ff;

}
