.app_light_theme {
  --bg-color: #d9d9da;
  --inverted-bg-color: #090942;

  --primary-color: #0708cc;
  --secondary-color: #0035ff;
  --inverted-primary-color: #06ad06;
  --inverted-secondary-color: #04ff04;
}
