.app_light_theme {
  --bg-color: #d9d9da;
  --inverted-bg-color: #090942;

  --primary-color: #0708cc;
  --secondary-color: #0035ff;
  --inverted-primary-color: #06ad06;
  --inverted-secondary-color: #04ff04;

  // redesigned
  --dark-bg-redesigned: #FFFFFF;
  --bg-redesigned: #EFF5F6;
  --light-bg-redesigned: #E2EEF1;
  --text-redesigned: #141C1F;
  --hint-redesigned: #ADBCC0;
  --cancel-redesigned: #FF7777;
  --save-redesigned: #62DE85;
  --icon-redesigned: #5ED3F3;
  --accent-redesigned: #00C8FF;

  // Skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // Code
  --code-bg: #f3f3f3;

  // Card
  --card-bg: #c5c5c5;

  // List Box
  --listbox-bg: #c5c5c5;
}
