.app_purple_theme {
  --bg-color: #bbb5c0;
  --inverted-bg-color: #9319FF;
  //F8F4FB

  --primary-color: #9319FF;
  --secondary-color: #7e16da;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #e8e8e8;

  // Skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // Code
  --code-bg: #e3dcea;

  // Card
  --card-bg: #e1dae7;
}
